@use "./../../styles/variables" as *;

// Async Select Styles

.async-select {
  &__inner {
    max-width: 470px;
    margin-bottom: 20px;
    position: relative;
  }
  .govuk-form-group {
    margin-bottom: 0;
  }

  &__list {
    background: $white;
    box-sizing: border-box;
    border: 2px solid $midnight-whisper;
    border-top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 10;

    &--hidden {
      display: none;
    }
  }

  &__list-link {
    color: $midnight-whisper;
    display: flex;
    padding: 10px 5px;
    text-decoration: none;

    &:hover,
    &:focus {
      box-shadow: none;
      background: $gentle-charcoal;
      color: $white;
    }
  }
}
