// @import "node_modules/govuk-frontend/dist/govuk/index";
@import "/node_modules/govuk-frontend/dist/govuk/govuk-frontend.min.css";

.sr-only {
  position: absolute;
  left: -99999px;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
